Flask==0.10.1
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.9
gevent==1.1.1
greenlet==0.4.9
gunicorn==19.5.0
itsdangerous==0.24
mock==2.0.0
numpy==1.11.0
pandas==0.18.1
pbr==1.9.1
pip==8.1.2
python-dateutil==2.5.3
pytz==2016.4
setuptools==21.1.0
six==1.10.0
certifi==0.0.8
chardet==1.0.1
distribute==0.6.24
requests==0.11.1