<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
    <title>Światowa emisja CO2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="http://datamaps.github.io/scripts/datamaps.world.min.js?v=1"></script>
</head>
<body style="padding-top: 65px; ">
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <nav class="navbar navbar-static-top navbar-dark bg-inverse">
              <a class="navbar-brand" href="/">Projekt PyAppBuczek</a>
              <ul class="nav navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/home">Map</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/table">Table</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="/about">About</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="/contact">Contact</a>
                  </li>
              </ul>
          </nav>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <u><h2 align="left">Kontakt:</h2></u>
          <h3 align="left">Wojciech Buczek</h3>
          <h3 align="left">AGH EAIiIB IB 5 rok</h3>
          <h3 align="left"><a href="mailto:wpb1992@gmail.com" target="_top">Mail</a></h3>
      </div>
  </div>
</body>
</html>